<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Second DB</a>
    </div>
  </div>
</div>

<!-- Buttons and graphs -->
<br><br><br><br><br>
<div class="container theme-showcase" role="main">
	<div class="row">
	  <div class="col-md-4">
	  	<p><button id="store_dimension" type="button" class="btn btn-default btn-lg dimension">Store</button></p>

	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute store_attributes">Region</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute store_attributes">City</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute store_attributes">State</button></p>
	  </div>
	  <div class="col-md-4">
	  	<p><button id="product_dimension" type="button" class="btn btn-default btn-lg dimension">Product</button></p>

	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute product_attributes">SKU</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute product_attributes">Brand</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute product_attributes">Name</button></p>
	  </div>
	  <div class="col-md-4">
	  	<p><button id="time_dimension" type="button" class="btn btn-default btn-lg dimension">Time</button></p>

	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute time_attributes">Month</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute time_attributes">Year</button></p>
	  	<p><button type="button" style='visibility:hidden' class="btn btn-default btn-sm attribute time_attributes">Quarter</button></p>
	  </div>
	</div>
</div>