<script>

$(document).ready(function() {
	var filters = [];
	var store = {};
	store['dimension'] = 'store';
	store['attributes'] = ["store_state", "store_street_address"];
	store['choices'] = {};
	store['choices']['store_state'] = ['CA', 'NY'];
	store['choices']['store_street_address'] = ['1 Washington Square', '12 Twin Dolphin Rd'];
	filters.push(store);

	var product = {};
	product['dimension'] = 'product';
	product['attributes'] = ["brand", "subcategory"];
	product['choices'] = {};
	product['choices']['brand'] = ['Kellog', 'Kraft'];
	product['choices']['subcategory'] = ['Candy'];
	filters.push(product);

    $.ajax({
	    type: "POST",
	    dataType: 'json',
	    url: "/sql",
	    data: {
	        filters: filters
	    },
	    success: function(response) {
	        tack_loader(response, '#boards_tacks', board_list);
	    }
    });
});

</script>

<h1> SQL </h1>
<p id='sql'></p>